@import "tailwindcss";

@theme {
  --color-sage: #A8C3A0;
  --color-sage-dark: #6b8863;
  --color-beige: #F5F1E8;
  --color-ivory: #FBF9F6;
  --color-terracotta: #D7A58C;
  --color-light-grey: #E5E5E5;
  --color-charcoal: #2F3437;
  --color-primary: #46e619;

  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-ivory text-charcoal antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
